.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.app {
  width: 95%;
  max-height: 100vh;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #091413;
  color: #b0e4cc;
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid #ddd; */
}

.notesWrapper {
  width: 100%;
}