.main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #7ef3bd;
  margin-top: 48px;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #B0E4CC;
  line-height: 28px;
  margin-bottom: 16px;
}